.imagesContainer{
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
    align-items: flex-end;

}
.imgOne{background-color: rgb(225, 250, 250);
    border: 1px solid gray;
    border-radius: 4px;
    margin: .5em;}
    .imgOne p{margin-left: .5em;}
    .selected{
        background-color: yellowgreen;
        border: 1px solid gray;
        border-radius: 4px;
        margin: .5em;
    }
    .selected p{margin-left: .5em;}
.imgTwo{
    background-color: rgb(225, 250, 250);
    border: 1px solid gray;
    border-radius: 4px;
    
    margin: .5em;}
    .imgTwo p{margin-left: .5em;}

    .level{
        background-color: rgb(244, 248, 249);
        width: 100%;
        margin: auto;
        display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;}